In [ ]:
titanic <- read.table('train.csv', sep=",", header = T)

In [ ]:
rownames(titanic) <- titanic$PassengerId
titanic$PassengerId <- NULL
titanic$Name <- NULL

In [ ]:
names(titanic)

In [ ]:
str(titanic)

In [ ]:
titanic$Sex <- as.integer(titanic$Sex == 'female')

In [ ]:
titanic$Pclass <- factor(titanic$Pclass)
titanic$Embarked <- factor(titanic$Embarked)

In [ ]:
titanic$Ticket <- NULL
titanic$Cabin <- NULL

In [ ]:
str(titanic)

In [ ]:
colSums(is.na(titanic))

In [ ]:
attach(titanic)

In [ ]:
library(repr); options(repr.plot.width=10, repr.plot.height=3)
par(mfrow = c(1,6))
hist(Survived)
hist(Sex)
hist(Age)
hist(SibSp)
hist(Parch)
hist(Fare)

In [ ]:
library(MASS)
par(mfrow = c(1,6))
truehist(Survived)
truehist(Sex)
truehist(Age)
truehist(SibSp)
truehist(Parch)
truehist(Fare)

In [ ]:
pairs(titanic)

In [ ]:
titanic_numeric_features <- Filter(is.numeric, titanic)

In [ ]:
cor(titanic_numeric_features)

In [ ]:
mean(titanic_numeric_features$Age, na.rm = T)

In [ ]:
mean_age <- mean(titanic_numeric_features$Age, na.rm = T)
titanic_numeric_features$Age[is.na(titanic_numeric_features$Age)] <- mean_age

In [ ]:
cor(titanic_numeric_features)