## Domain

This is an introductory data set considered the "hello world" of data science. It is an ongoing competition on Kaggle allowing students of data science to prepare a model and make a submission to a competition while they are still learning the subject.

## Problem

This is a binary classification problem in which the challenge is to predict whether a passenger survived the sinking of the Titanic given the demographic data of the passengers. Here, the task $T$ is a binary classification and the experience $E$ is the list of passengers and their survival outcome.

Note `read.table` and `read.csv` are equivalent accept for the default args. `read.table` defaults to separating on white space. `read.csv` defaults to separating on commas.

## Solution

To solve this problem, we will generate a vector of integers using filtering and masking.

In [1]:
titanic <- read.table('train.csv', sep=",", header = T)
rownames(titanic) <- titanic$PassengerId
titanic$PassengerId <- NULL
titanic$Name <- NULL

## Data Exploration

In [3]:
summary(titanic$Sex)

female   male
   314    577

### Use a Proporation Table to Look at Survival by Gender

This represents the proportion of all passengers in each group.

In [4]:
prop.table(table(titanic$Sex, titanic$Survived))

                  0          1
  female 0.09090909 0.26150393
  male   0.52525253 0.12233446

This represents the proportion of survival by gender.

In [5]:
prop.table(table(titanic$Sex, titanic$Survived), 1)
# adding a 1 means the rows add up to 1

                 0         1
  female 0.2579618 0.7420382
  male   0.8110919 0.1889081

This represents the proportion of gender by survival.

In [8]:
prop.table(table(titanic$Sex, titanic$Survived), 2)
# adding a 2 means the columns add up to 1

                 0         1
  female 0.1475410 0.6812865
  male   0.8524590 0.3187135

### Use a Proporation Table to Look at Survival of Children

In [9]:
prop.table(table(titanic$Age < 10, titanic$Survived), 1)

                0         1
  FALSE 0.6134969 0.3865031
  TRUE  0.3870968 0.6129032

In [10]:
prop.table(table(titanic$Age < 10, titanic$Survived), 2)

                 0          1
  FALSE 0.94339623 0.86896552
  TRUE  0.05660377 0.13103448

## Benchmark Model

In [11]:
verify_length <- function (v1, v2 ){
    if (length(v1) != length(v2)) {
        stop('length of vectors do not match') 
    }
}

accuracy <- function (actual, predicted) {
    verify_length(actual, predicted)
    return(sum(actual == predicted)/length(actual))
}

In [12]:
no_survivors <- rep(0, length(titanic$Survived))
accuracy(titanic$Survived, no_survivors)

[1] 0.6161616

## Women Survived

In [13]:
women_survived <- titanic$Sex == 'female'
accuracy(titanic$Survived, women_survived)

[1] 0.7867565

## Children Survived

In [14]:
women_and_children_survived <- women_survived
women_and_children_survived[titanic$Age < 10] <- 1

In [15]:
accuracy(titanic$Survived, women_and_children_survived)

[1] 0.7934905

In [17]:
head(titanic)

  Survived Pclass Sex    Age SibSp Parch Ticket           Fare    Cabin
1 0        3      male   22  1     0     A/5 21171         7.2500
2 1        1      female 38  1     0     PC 17599         71.2833 C85
3 1        3      female 26  0     0     STON/O2. 3101282  7.9250
4 1        1      female 35  1     0     113803           53.1000 C123
5 0        3      male   35  0     0     373450            8.0500
6 0        3      male   NA  0     0     330877            8.4583
  Embarked
1 S
2 C
3 S
4 S
5 S
6 Q

In [18]:
prop.table(table(titanic$Pclass, titanic$Survived))

             0          1
  1 0.08978676 0.15263749
  2 0.10886644 0.09764310
  3 0.41750842 0.13355780

In [19]:
prop.table(table(titanic$Pclass, titanic$Survived),1)

            0         1
  1 0.3703704 0.6296296
  2 0.5271739 0.4728261
  3 0.7576375 0.2423625

In [20]:
Pclass_survived = titanic$Pclass == 1
women_and_children_survived <- Pclass_survived

In [21]:
accuracy(titanic$Survived, women_and_children_survived)

[1] 0.6790123

In [23]:
titanic$genderclass <- paste(titanic$Sex,titanic$Pclass)

In [24]:
head(titanic)

  Survived Pclass Sex    Age SibSp Parch Ticket           Fare    Cabin
1 0        3      male   22  1     0     A/5 21171         7.2500
2 1        1      female 38  1     0     PC 17599         71.2833 C85
3 1        3      female 26  0     0     STON/O2. 3101282  7.9250
4 1        1      female 35  1     0     113803           53.1000 C123
5 0        3      male   35  0     0     373450            8.0500
6 0        3      male   NA  0     0     330877            8.4583
  Embarked genderclass
1 S        male 3
2 C        female 1
3 S        female 3
4 S        female 1
5 S        male 3
6 Q        male 3

In [25]:
prop.table(table(titanic$genderclass, titanic$Survived),1)

                    0          1
  female 1 0.03191489 0.96808511
  female 2 0.07894737 0.92105263
  female 3 0.50000000 0.50000000
  male 1   0.63114754 0.36885246
  male 2   0.84259259 0.15740741
  male 3   0.86455331 0.13544669

In [26]:
women_and_children_survived = 0

In [27]:
women_and_children_survived = titanic$genderclass == 'female 1'
women_and_children_survived = titanic$genderclass == 'female 2'
women_and_children_survived[titanic$Age < 10] = 1

In [28]:
accuracy(titanic$Survived, women_and_children_survived)

[1] 0.694725

In [75]:
women_and_children_survived = 0

In [76]:
women_and_children_survived[titanic$genderclass == 'female 1'] = 1
women_and_children_survived[titanic$genderclass == 'female 2'] = 1
women_and_children_survived[titanic$genderclass == 'female 3'] = 0
women_and_children_survived[titanic$Age < 9] = 1
women_and_children_survived[is.na(women_and_children_survived)] = 0

In [77]:
accuracy(titanic$Survived, women_and_children_survived)

[1] 0.7991021

In [56]:
youngrichmensurvived = 0
youngrichmensurvived = (titanic$genderclass == 'male 1' & titanic$Age < 20)
youngrichmensurvived[is.na(youngrichmensurvived)] = 1
cat(youngrichmensurvived)

0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

In [57]:
women_and_children_survived = youngrichmensurvived
accuracy(titanic$Survived, women_and_children_survived)

[1] 0.6049383

In [58]:
head(titanic, 28)

   Survived Pclass Sex    Age SibSp Parch Ticket           Fare     Cabin
1  0        3      male   22  1     0     A/5 21171          7.2500
2  1        1      female 38  1     0     PC 17599          71.2833 C85
3  1        3      female 26  0     0     STON/O2. 3101282   7.9250
4  1        1      female 35  1     0     113803            53.1000 C123
5  0        3      male   35  0     0     373450             8.0500
6  0        3      male   NA  0     0     330877             8.4583
7  0        1      male   54  0     0     17463             51.8625 E46
8  0        3      male    2  3     1     349909            21.0750
9  1        3      female 27  0     2     347742            11.1333
10 1        2      female 14  1     0     237736            30.0708
11 1        3      female  4  1     1     PP 9549           16.7000 G6
12 1        1      female 58  0     0     113783            26.5500 C103
13 0        3      male   20  0     0     A/5. 2151          8.0500
14 0        3      male   39  1     5     347082            31.2750
15 0        3      female 14  0     0     350406             7.8542
16 1        2      female 55  0     0     248706            16.0000
17 0        3      male    2  4     1     382652            29.1250
18 1        2      male   NA  0     0     244373            13.0000
19 0        3      female 31  1     0     345763            18.0000
20 1        3      female NA  0     0     2649               7.2250
21 0        2      male   35  0     0     239865            26.0000
22 1        2      male   34  0     0     248698            13.0000 D56
23 1        3      female 15  0     0     330923             8.0292
24 1        1      male   28  0     0     113788            35.5000 A6
25 0        3      female  8  3     1     349909            21.0750
26 1        3      female 38  1     5     347077            31.3875
27 0        3      male   NA  0     0     2631               7.2250
28 0        1      male   19  3     2     19950            263.0000 C23 C25 C27
   Embarked genderclass
1  S        male 3
2  C        female 1
3  S        female 3
4  S        female 1
5  S        male 3
6  Q        male 3
7  S        male 1
8  S        male 3
9  S        female 3
10 C        female 2
11 S        female 3
12 S        female 1
13 S        male 3
14 S        male 3
15 S        female 3
16 S        female 2
17 Q        male 3
18 S        male 2
19 S        female 3
20 C        female 3
21 S        male 2
22 S        male 2
23 Q        female 3
24 S        male 1
25 S        female 3
26 S        female 3
27 C        male 3
28 S        male 1

In [65]:
titanic[titanic$genderclass == 'male 1' & titanic$Age < 20,]

      Survived Pclass Sex  Age   SibSp Parch Ticket   Fare     Cabin
28     0        1     male 19.00  3     2    19950    263.0000 C23 C25 C27
NA    NA       NA     NA      NA NA    NA    NA             NA NA
NA.1  NA       NA     NA      NA NA    NA    NA             NA NA
NA.2  NA       NA     NA      NA NA    NA    NA             NA NA
NA.3  NA       NA     NA      NA NA    NA    NA             NA NA
NA.4  NA       NA     NA      NA NA    NA    NA             NA NA
NA.5  NA       NA     NA      NA NA    NA    NA             NA NA
NA.6  NA       NA     NA      NA NA    NA    NA             NA NA
NA.7  NA       NA     NA      NA NA    NA    NA             NA NA
306    1        1     male  0.92  1     2    113781   151.5500 C22 C26
NA.8  NA       NA     NA      NA NA    NA    NA             NA NA
446    1        1     male  4.00  0     2    33638     81.8583 A34
NA.9  NA       NA     NA      NA NA    NA    NA             NA NA
506    0        1     male 18.00  1     0    PC 17758 108.9000 C65
NA.10 NA       NA     NA      NA NA    NA    NA             NA NA
NA.11 NA       NA     NA      NA NA    NA    NA             NA NA
551    1        1     male 17.00  0     2    17421    110.8833 C70
NA.12 NA       NA     NA      NA NA    NA    NA             NA NA
NA.13 NA       NA     NA      NA NA    NA    NA             NA NA
NA.14 NA       NA     NA      NA NA    NA    NA             NA NA
NA.15 NA       NA     NA      NA NA    NA    NA             NA NA
NA.16 NA       NA     NA      NA NA    NA    NA             NA NA
749    0        1     male 19.00  1     0    113773    53.1000 D30
NA.17 NA       NA     NA      NA NA    NA    NA             NA NA
NA.18 NA       NA     NA      NA NA    NA    NA             NA NA
803    1        1     male 11.00  1     2    113760   120.0000 B96 B98
NA.19 NA       NA     NA      NA NA    NA    NA             NA NA
NA.20 NA       NA     NA      NA NA    NA    NA             NA NA
      Embarked genderclass
28    S        male 1
NA    NA       NA
NA.1  NA       NA
NA.2  NA       NA
NA.3  NA       NA
NA.4  NA       NA
NA.5  NA       NA
NA.6  NA       NA
NA.7  NA       NA
306   S        male 1
NA.8  NA       NA
446   S        male 1
NA.9  NA       NA
506   C        male 1
NA.10 NA       NA
NA.11 NA       NA
551   C        male 1
NA.12 NA       NA
NA.13 NA       NA
NA.14 NA       NA
NA.15 NA       NA
NA.16 NA       NA
749   S        male 1
NA.17 NA       NA
NA.18 NA       NA
803   S        male 1
NA.19 NA       NA
NA.20 NA       NA